<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Plasma Donor Application</title>
</head>
<style>
    .head{
        color: darkslategray;
        font-size: 50px;
        text-align: center;
    }
    .donor{
        padding-left:20%;
        padding-top: 50px;
        font-size: 25px;
        color: cornflowerblue;
    }
</style>
<body>
    <h1 class="head">Plasma Donor Application</h1>
    <div class="donor">
        <a href="{{url_for('donorlogin')}}">Donor Login</a>
    </div>    
</body>
</html>